.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 118px) !important;
  background: linear-gradient(to top right, #21466b, #59738f);
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  width: 90%;
  gap: 30px;
  margin: 20px 0;
}

.contact-card {
  padding: 20px;
  background-color: #e4fbfd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  text-align: center;
  transition: transform 0.2s;
  font-family: "Comfortaa", cursive;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 10px;
}

.contact-card:hover {
  transform: scale(1.03);
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.contact-icon {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .contact-card {
    width: 100%;
  }
}