<app-navbar></app-navbar>

<div class="container table">
  <div class="d-flex justify-content-center align-items-center points_tracker_height">
    <table class="table">
      <tbody>
        <ng-container *ngIf="(dataService.getRedeemedRewards() | async) as redeemedRewardsList">
          <tr *ngFor="let reward of redeemedRewardsList; trackBy: trackByIdx" >
            <td class="text-white">Congrats you have redeemed a {{ reward.name }} of {{ reward.points }} iCoins</td>
          </tr>
        </ng-container>
        <tr *ngFor="let reward of redeemedRewards; trackBy: trackByIdx" >
          <!-- <ng-container *ngIf="!redeemedRewards.length">
                  <td>{{reward.description}}</td>
                </ng-container> -->
          <ng-container *ngIf="redeemedRewards.length">
            <!-- <td>Congrats you have redeemed a {{ reward.name }} of {{ reward.points }} iCoins</td> -->
            <td class="text-white">{{ reward.description }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-footer></app-footer>
