   <table>
    <thead>
    </thead>
    <tbody>
      <ng-container *ngIf="(dataService.getRedeemedRewards() | async) as redeemedRewardsList">
        <tr *ngFor="let reward of redeemedRewardsList; trackBy: trackByIdx">
          <td>Congrats you have redeemed a {{ reward.name }} of {{ reward.points }} iCoins</td>
        </tr>
      </ng-container>
      <tr *ngFor="let reward of redeemedRewards; trackBy: trackByIdx">
        <!-- <ng-container *ngIf="!redeemedRewards.length">
          <td>{{reward.description}}</td>
        </ng-container> -->
        <ng-container *ngIf="redeemedRewards.length">
          <!-- <td>Congrats you have redeemed a {{ reward.name }} of {{ reward.points }} iCoins</td> -->
          <td>{{ reward.description }}</td>
        </ng-container>
      </tr>
    </tbody>
  </table> 

  
  
  
  
  
  
  
  
  
  
  
  
  