@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,700&display=swap');

.rewards_catalog_height {
  min-height: calc(100vh - 118px) !important;
}

.card {
  background-color: #d0f2ff;
  max-width: 300px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: var(--secondary-dark);
  font-family: "Comfortaa", cursive;
  border: none;
}

.card-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button_cs {
  width: 40% !important;
  font-size: 0.9rem !important;
}

.points {
  font-weight: bold;
}

.badge_balance_pts {
  font-size: 1rem;
  position: fixed;
  color: var(--secondary-light) !important;
  border: 2px solid var(--secondary-light) !important;
  right: 0px;
  top: 148px;
  z-index: 3;
  background-color: #fff;
}
